:root{
  --mainfont: "manrope",sans-serif;
  --text_colour: #8166c9;
  --div_backgrounf: #0f0d11;
  --head_font: "Space Grotesk", sans-serif;
  --letter-spacing: -0.5px;
  --btn_text: #34265c;


}

* {
  margin: 0;
  padding: 0;
  
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: black;
  color: white;
  margin:0
}
.navbar {
  background-color: #0f0d11;
  color: var(--text_colour);
  display: flex;
  padding:15px;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  display: flex;
  gap: 30px; 
  font-size: small;
  font-family: var(--mainfont);
  font-weight: 600;
  
}

.nav-button a {
  text-decoration: none;
  color: rgb(135, 135, 135);
  letter-spacing: var(--letter-spacing);
  position: relative;
}
.name{
  font-family: var(--head_font);
  font-weight: 800;
  font-size: large;
}
.nav-button a:hover{
  color: var(--text_colour);
}
.hire-me{
  background-color: var(--text_colour);
  padding: 7px 25px;
  font-family: var(--mainfont);
  border-radius: 20px;
  font-weight: 600;
  color: var(--btn_text);
  text-align: center;
}
.hero_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 190px;
  min-height: (100vh);
  position: relative;
  
}
.hero_avatar{
  bottom: 0;
  padding-right: 200px;
  padding-bottom: 0;
  display: flex;
  justify-content: flex-end;

}
.hero_avatar img{
  width: 400px;
  max-width: 100%;
  height: auto;
  display: block;
}
.Avail {
  display: inline-block;
  color: #00AA00;
  padding: 8px 30px;
  border: #00AA00;
  border-radius: 50px;
  border-width: 2px;
  font-family: var(--mainfont);
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #00aa0047;
}
.hero_content {
  width: 50%;
  align-items: center;
  margin-left: 80px;
  padding-bottom: 30px;
}
.hero_content h1{
  font-size: 90px;
  background: linear-gradient(0deg, #3f45eb 30%, #FFFFFF 70%);
  background-clip: text;
  -webkit-background-clip: text;;
  -webkit-text-fill-color: transparent;
  font-family: var(--head_font);
  line-height: 1.05;
  padding-top: 20px;
}
.hero_content h3{
  padding-right: 30%;
  font-family: var(--mainfont);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-top: 20px;
  color: #FFFFFF75;
}
.hero-button{
  position: relative;
  display: flex;
  gap: 46px;
  padding-top: 20px;
}
.hero-button button{
padding: 10px 20px;
font-family: var(--mainfont);
font-weight: 800;
font-size: 15px;
color: var(--text_colour);
border-radius: 100px;
}
.about-me{
  background-color: var(--btn_text);
}
.about{
  height: 100vh;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  background: var(--div_backgrounf);
  padding-top: 30px;
}
.content{
width:80%;
margin-left: 80px;

}
.content h1{
  font-size: 60px;
  font-family: var(--head_font);
  background: linear-gradient(90deg, white 59%, #3f45eb 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content p{
  font-size: 25px;
  font-family: var(--mainfont);
  color: #FFFFFF60;
  letter-spacing: 1.1px;
  padding-top: 35px;
  line-height: 1.5;
}

.features{
  display: grid;
  max-width: 50%;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 60px 80px;
}
.card{
  background-color: #3f45eb20;
  padding: 20px 30px;
  border-radius: 20px;

}
.card h3{
  font-size: 24px;
  text-transform: uppercase;
  font-family: var(--head_font);
  padding-bottom: 10px;
  letter-spacing: 1.2px;
}
.card p{
  font-family: var(--mainfont);
  letter-spacing: 1.1px;
  text-transform: capitalize;
  color: #ffffff60;
  line-height: 1.35;

}
.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(59,130,246,0.2);
  transform: scale(1.1);
  transition: all 0.8s ease;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: opacity 0.3s ease;
}
header.scrolled{
  opacity: 0.01;
}
.Educational-detail{
  width:100%;

  height: 100vh;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  scroll-margin-top: 30px;
}
.timeline{
  position: relative;
  gap: 15vh;
  padding: 30px 30px;
  width: 40%;
}
.complete{
  position: relative;
  margin: 80px 0;
  color: #FFFFFF;
  padding-left: 60px;
}
.line{
  position: absolute;
  left: 40px;
  top: 5%;
  width: 2px;
  height: 90%;
  
  background: linear-gradient(180deg, #00AA0040,#00AA0060,#00AA00);
}
.year{
  position: absolute;
  left: 0px;
  top: 5px;
  transform: translateX(-50%);
  color: #00AA00;
  background: black;
  padding: 4px 8px;
  width: 20px;
  font-family: var(--mainfont);
  font-size: 25px;
  border-radius: 20px;
  font-weight: 600;
}
.detail{
  margin-left: 40px;
}
.detail p{
  font-family: var(--mainfont);
  color: var(--text_colour);
  margin-top: 10px;
  letter-spacing: 1.1px;
}
.detail p1{
  position: relative;
  font-family: var(--mainfont);
  font-size: 18px;
  text-transform: uppercase;
  color: #00AA00;
  letter-spacing: 1.2px;
}
.year span{
  font-size: 15px;
  font-style: italic;
  font-weight: 200;
}
.skills{
  width: 60%;
  display: inline-block;
  position: relative;
  align-items: center;
  text-align: center;
  padding-top: -20px;

}
.skills h1{
  font-family: var(--head_font);
  font-size: 90px;
  font-weight: 600;
  letter-spacing: 2.5px;

}
.skills p{
  font-family: var(--mainfont);
  font-size: 21px;
  font-weight: 300;
  color: #FFFFFF60;
  background-color: #3f45eb20;
  padding: 10px 10px;
  text-transform: capitalize;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  letter-spacing: 1.5px;
}
.name-of-skills{
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
  padding-top: 30px;
  margin-right: 30px;
  
  
}
.skills p:hover{
  transform: scale(1.1);
  background-color: #3f45eb70;
  transition: all 0.7s ease;
  color: #FFFFFF;
}

